* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    color: rgb(36, 36, 86);
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
    color: rgb(27, 27, 32);
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
h4 {

    margin-bottom: 2rem;

}

h1 {
    font-size: 5.6rem;
    color: rgb(11, 8, 76);
}

h2 {
    font-size: 3.6rem;
    color: rgb(70, 67, 108);
}

h3 {
    font-size: 3rem;
    color: rgb(70, 67, 108);
}

h4 {
    font-size: 1.9rem;
    color: rgb(70, 67, 108);
}

p {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}

li {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

li ul {
    margin-top: 1rem;
}

.form-field {
    color: rgb(27, 27, 32);
    padding: 0.5rem;
}

.bold-text {
    font-weight: bold;
}

#blackoutCover {
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}

.popup {
    background-color: rgba(221, 231, 241, 0.936);
    border: 0.1rem solid rgb(183, 193, 202);
    border-radius: 0.5rem;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;
    width: 60vw;
    height: 80vh;
    overflow: auto;
    display: grid;
    gap: 2rem;
    grid-template-rows: 2rem auto auto;
    padding: 2rem;
    visibility: hidden;
    z-index: 1;
}

.popup-text {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

}

.popup-sidebar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

}

.popup-screenshots {
    border-top: 0.1rem solid rgb(183, 193, 202);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    min-height: 10rem;
    padding-top: 2rem;
}

.popup-screenshot-thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.336);
    border: 1px solid rgb(73, 73, 73);
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.popup li {
    margin-left: 1.6rem;
}

.popup ul {
    margin-bottom: 2rem;
}


.popup h4 {
    margin-top: 1.1rem;
}

.popup-close-container {
    display: flex;
    justify-content: end;
}

.popup-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgb(96, 96, 134);
    border-radius: 0.3rem;
}

.popup-close-icon:hover {
    border: 1px solid rgb(36, 36, 86);
}

.close-icon-svg {
    stroke: rgb(96, 96, 134);
    stroke-width: 1.5rem;
}

.close-icon-svg:hover {
    stroke: rgb(36, 36, 86);
}



a {
    text-decoration: none;
}

header {
    background-color: rgba(221, 231, 241, 0.847);
    backdrop-filter: blur(5px);
    border-bottom: 0.1rem solid rgb(183, 193, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 5rem;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(221, 231, 241, 0.847);
    backdrop-filter: blur(5px);
    border-top: 0.1rem solid rgb(183, 193, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 5rem;
}

.copyright {
    color: rgb(36, 36, 86);
    margin-right: 2rem;
    font-size: 1.6rem;
}

.footer-links {
    display: flex;
    margin-left: 2rem;
    align-items: center;
    justify-items: center;
    gap: 1rem;

}

.linkedin-logo,
.github-logo,
.email-logo {
    fill: rgb(96, 96, 134);

}

.linkedin-logo:hover,
.github-logo:hover,
.email-logo:hover {
    fill: rgb(36, 36, 86);

}

.linkedin-link {
    background-image: url('../img/LinkedInLogo.png');
    height: 3.2rem;
    width: 3.75rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0.5rem;
}

.github-link {
    background-image: url('../img/GitHubLogoDark.png');
    background-repeat: no-repeat;
    height: 3.2rem;
    width: 3.2rem;
    background-size: contain;
    margin: 0 0.5rem;
}

.footer-email {
    background-image: url('../img/email-link-black.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.2rem;
    width: 3.2rem;
    font-size: 3.2rem;
    margin: 0 0.5rem;
}

.intro {
    margin-top: 10rem;
}

.christoffer-gylin-logo {
    height: 3.5rem;
    margin-left: 2rem;
    stroke: rgb(36, 36, 86);
    fill: rgb(36, 36, 86);
}

nav a {
    color: rgb(96, 96, 134);
    text-decoration: none;
    text-underline-offset: 0.7rem;
}

nav a:hover,
nav a:focus {
    color: rgb(36, 36, 86);
    text-decoration: underline;
}

.menuIcon {

    border: 0.1em solid rgb(96, 96, 134);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.5em;

}

.menuBar {
    width: 2.3em;
    height: 0.5em;
    background-color: rgb(96, 96, 134);
    border-radius: 1em;
}

.menuIcon:hover .menuBar {
    background-color: rgb(36, 36, 86);
}

.menuIcon:hover {
    border: 0.1em solid rgb(36, 36, 86);
}

nav ul {

    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    list-style: none;
}

nav a {
    color: rgb(96, 96, 134);
    text-decoration: none;
    text-underline-offset: 0.7rem;
}

nav a:hover,
nav a:focus {
    color: rgb(36, 36, 86);
    text-decoration: underline;
}

.currentPageListItem a {
    color: rgb(36, 36, 86);
    text-decoration: underline;
}

nav li {

    font-size: 2em;
    padding: 0.5em 0;
    text-align: center;

}

nav li:last-child {
    border: 0;
}

.nav-desktop {
    display: none;
}

.nav-mobile {

    position: fixed;
    top: 5.1rem;
    left: 0;
    width: 100%;
    background-color: rgba(221, 231, 241, 0.847);
    backdrop-filter: blur(5px);
}

section {
    max-width: 40rem;
    margin: 3rem auto 6rem auto;
}

.card-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    margin-bottom: 2rem;

}

.card {
    display: flex;
    justify-content: start;
    align-items: end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.336);
    border: 1px solid rgb(73, 73, 73);
    border-radius: 0.5rem;
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
    cursor: pointer;
    overflow: hidden;
}

.card:first-child {
    margin-left: 0;
}

.card-banner {


    background-color: rgba(0, 0, 0, 0.65);
    color: aliceblue;
    font-size: 1.6rem;
    position: relative;
    padding: 1rem;
    margin-bottom: 0;

}

#webGrooveboxThumb {
    background-image: url('../img/GrooveboxSynthSmall.png');

}

#ekholmsnasThumb {
    background-image: url('../img/ekholmsnasbacken1Small.png');
}

#tinyGrandPrixThumb {
    background-image: url('../img/TinyGrandPrixGameshot2Small.png');
}

.button,
#formSubmit {
    display: block;
    background-color: rgb(218, 238, 255);
    font-size: 2rem;
    color: rgb(70, 67, 108);
    border: 1px solid rgb(73, 73, 73);
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    margin: 3rem 0;
    width: 100%;

}

.button:hover,
#formSubmit:hover {

    background-color: rgb(70, 67, 108);
    color: rgb(218, 238, 255);

}

.tech-grid {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;


}

.tech-grid a {

    width: max-content;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.tech-logo {
    object-fit: cover;
    max-width: 75%;
    max-height: 75%;

}

#formMessage {
    display: block;
    width: 100%;
    height: 30rem;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
    writing-mode: horizontal-tb;
}

#formName,
#formEmail {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.job-title {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {

    nav li {
        border-bottom: 0.1rem solid rgb(183, 193, 202);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}

@media screen and (min-width: 768px) {

    .button,
    #formSubmit {
        display: inline-block;
        padding: 1rem;
        border-radius: 1rem;
        margin: 0;
        width: fit-content;
    }

    .tech-logo {
        max-width: 50%;
        max-height: 50%;
    }

    .tech-logo:hover {
        transform: scale(1.2);

    }

    .card-box {
        flex-direction: row;
    }

    .card {
        width: 40%;
        margin: 0 2rem;
    }

    .card:hover {
        transform: scale(1.1);

    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        align-items: end;
        margin: auto;
    }

    nav li {
        margin-left: 1.5rem;
    }

    section {
        width: 80%;
        max-width: 960px;
        margin: 3rem auto 6rem auto;
    }

    .popup-sidebar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .popup-text {
        display: grid;
        gap: 2rem;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }

    .popup-screenshots {
        border-top: 0.1rem solid rgb(183, 193, 202);
        grid-template-columns: repeat(3, 1fr);
        min-height: 10rem;
        padding-top: 2rem;
    }

    .popup aside {
        border-left: 0.1rem solid rgb(183, 193, 202);
        padding-left: 2rem;
    }

}


@media screen and (min-width: 900px) {



    .tech-logo {
        max-width: 40%;
        max-height: 40%;
    }

    .nav-mobile {
        display: none;

    }

    .nav-desktop {
        display: flex;
        margin-right: 2rem;
        min-width: fit-content;
        background: none;
    }

    .nav-desktop ul {
        background: none;
    }

    .menuIcon {
        display: none;
    }

}

@media (prefers-color-scheme: dark) {

    * {
        color: aliceblue;
    }

    h1 {

        color: rgb(157, 198, 233);
    }

    h2,
    h3,
    h4 {

        color: rgb(173, 197, 218);
    }



    body {
        background-color: rgb(30, 29, 34);
        color: aliceblue;
    }

    header {
        background-color: rgba(56, 55, 63, 0.847);
        backdrop-filter: blur(5px);
        border-bottom: 0.1rem solid rgb(183, 193, 202);
    }

    footer {
        color: rgb(70, 67, 108);
        background-color: rgba(56, 55, 63, 0.847);
        backdrop-filter: blur(5px);
        border-top: 0.1rem solid rgb(183, 193, 202);
    }

    .copyright {
        color: rgb(173, 197, 218);
    }

    .menuIcon {
        background-color: rgb(67, 64, 80);
        border: 0.1em solid rgb(182, 201, 218);
    }

    .menuBar {
        background-color: rgb(182, 201, 218);
    }

    .menuIcon:hover .menuBar {
        background-color: aliceblue;
    }

    .menuIcon:hover {
        border: 0.1em solid aliceblue;
    }

    .popup-close-icon {
        border: 1px solid rgb(182, 201, 218);
    }

    .popup-close-icon:hover {
        border: 1px solid aliceblue;
    }

    .close-icon-svg {
        stroke: rgb(182, 201, 218);
    }

    .close-icon-svg:hover {
        stroke: aliceblue;
    }

    .christoffer-gylin-logo {
        stroke: rgb(173, 197, 218);
        fill: rgb(173, 197, 218);
    }

    .linkedin-logo,
    .github-logo,
    .email-logo {
        fill: rgb(182, 201, 218);
    }

    .linkedin-logo:hover,
    .github-logo:hover,
    .email-logo:hover {
        fill: aliceblue;
    }

    nav a {
        color: rgb(182, 201, 218);
    }

    nav a:hover,
    nav a:focus {
        color: aliceblue;
    }

    .nav-mobile {


        background-color: rgba(56, 55, 63, 0.847);
        ;

    }


    .currentPageListItem a {
        color: aliceblue;
    }

    .card {

        border: 1px solid aliceblue;
    }

    .button,
    #formSubmit {
        background-color: rgb(40, 40, 62);
        color: rgb(218, 238, 255);
        border: 1px solid rgb(218, 238, 255);
    }

    .button:hover,
    #formSubmit:hover {

        background-color: rgb(218, 238, 255);
        color: rgb(40, 40, 62);

    }

    .popup {
        background-color: rgba(56, 55, 63, 0.936);
        border: 0.1rem solid rgb(183, 193, 202);
    }
}

.menu-hidden {

    display: none;
}